/**
 * Footer
 */
.footer {
	/*background-color: blue;*/
	/*height: 64px;*/
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 12px;
}
.footer a {
	/*background-color: orange;*/
	margin-left: 12px;
	margin-right: 12px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	/*line-height: 64px;*/
}
