@media screen and (max-width: 600px) {
	.download.center {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  padding-left: 56px;
		  padding-right: 56px;
	}
	.download a {
		/*background-color: pink;*/
		width: 100%;
		clear: both;
		float: none;
	}
}
